<!DOCTYPE html>
<html>
<head>
  <title>Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<%= render 'application/header_nav_list'%>
  </header>
<%= yield %>


<footer class="footer">
  <div class="container">
    <p class="text-muted"><%= render 'application/footer'%></p>
</div>
</footer>

</body>
</html>

